{% extends 'base.html' %}
{% block content_top %}
<h2>Books Page</h2>

<table border="5">
    <tr>
        <th>Book Cover</th>
        <th>Title</th>
        <th>Author</th>
        <th>Copies Available</th>
    </tr>
    {% for book in books %}
    <tr>
        <td><img src="{{ book.img.url }}" width="50"></td>
        <td>{{ book.book_title }}</td>
        <td>{{ book.book_author }}</td>
        <td>{{ book.book_copies_available }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
{% block content_middle %}
<p1>Hello</p1>
{% endblock %}